.questions_container {
    padding:3em;
    display:flex;
    justify-content:space-between;
}
.questions_container .questions_list {
    width:50%;
    display:block;
    text-align:left;
}

.questions_container .questions_list .option {
    border:solid 3px #002764;
    padding:0.3em;
    border-radius:10px;
    color:#002764;
    font-size: 2em;
    font-family: 'Passion One', cursive;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    text-align:left;
    background: #fff;
    -webkit-box-shadow: 0px 4px 0px 0px #002764;
    -moz-box-shadow: 0px 4px 0px 0px #002764;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}
.questions_container .questions_list .option .drag {
    width:65px;
    height:65px;
    border-radius:10px;
    margin-left:10px;
    background:#e5dad2;
    border:solid 3px #002764;
    -webkit-box-shadow: 0px 3px 0px 0px #002764;
    -moz-box-shadow: 0px 3px 0px 0px #002764;
    display:flex;
    align-items:center;
    justify-content: center;
}
.questions_container .questions_list .option .drag img {
    width: 60px;
    max-height: 60px;
    height:auto;
}
.questions_container .questions_list .option .question {
    display:flex;
    justify-content: center;
    align-items: center;
}
.questions_container .image_dragger {
    width:45%;
    display:flex;
    justify-content: space-around;
    align-items:flex-start;
    text-align:center;
    flex-wrap: wrap;
}
.image_dragger .drag_img {
    width:160px;
    height:160px;
    border-radius:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0px 10px;
    background:#66edd6;
    border:solid 3px #002764;
    -webkit-box-shadow: 0px 3px 0px 0px #002764;
    -moz-box-shadow: 0px 3px 0px 0px #002764;
    cursor:move;
}
.image_dragger .drag_img img {
    width:150px;
    height:auto;
    max-height: 140px;
}
.image_dragger .drag_img:nth-child(1){
    margin:0px 50px !important;
    /* display:none; */
}