 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  .scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.popup_container {
    border: solid 6px #002764;
    background-color:#fff;
    border-radius: 20px;
    padding:3em 1em;
    position: absolute;
    z-index: 10;
    left:3.0em;
    margin:0 auto;
    text-align: left;
    top:3em;
    width:86%;
    height:350px;
    display:flex;
    align-items:center;
    justify-content:center;
    -webkit-animation: scale-in-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    box-shadow: 0px 10px 0px 0px #002764;
    -webkit-box-shadow: 0px 10px 0px 0px #002764;
    -moz-box-shadow: 0px 10px 0px 0px #002764;
}
.popup_container .selected_question_image {
    width:35%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.popup_container .selected_question_image img {
    width: 80%;
    height: auto;
}
.popup_container .popup_content {
    display:flex;
    width: 100%;
}

.selected_question {
    margin:20px;
}
.popup_container h4 {
    margin:0;
    padding:0;
    color:#002764;
    font-size: 2em;
    font-weight: 900;
    line-height: 1em;
    text-align:left;
    text-transform: uppercase;
}
.popup_container h2 {
    margin:0;
    padding:0;
    white-space: nowrap;
    color:#ff57d1;
    text-decoration: underline;
    text-decoration-color: #5abcd1;
    text-decoration-style: wavy;
    font-size: 4.5em;
    font-weight: 900;
    line-height: 1.2em;
    text-align:left;
    text-transform: uppercase;
}
.quiz_full_message {
    text-align: center;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}
.quiz_result_message {
    text-align: center;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}
.quiz_result_message h2, .quiz_result_message h4,
.quiz_full_message h2 {
    margin:0px 0px 30px;
    text-align: center;
    display:block;
}
.selected_question_image {
    background-size:contain !important;
    height:300px;
    width:300px;
}
.quiz_result_message img, .quiz_full_message img {
    max-width:100px;
}
.quiz_result_message a.button {
    margin:0px;
}
.selected_question_image.binoculars {
    background: url(../../images/binoculars.svg) no-repeat center center;
}
.selected_question_image.jelly_fish {
    background: url(../../images/jelly_fish.svg) no-repeat center center;
}
.selected_question_image.pineapple {
    background: url(../../images/pineapple.svg) no-repeat center center;
}
.selected_question_image.crab {
    background: url(../../images/scorpion.svg) no-repeat center center;
}
.selected_question_image.umbrella {
    background: url(../../images/umbrella.svg) no-repeat center center;
}
.selected_question_image.hat {
    background: url(../../images/hat.svg) no-repeat center center;
}
.selected_question_image.turtle {
    background: url(../../images/turtle.svg) no-repeat center center;
}
.selected_question_image.skating_board {
    background: url(../../images/skating_board.svg) no-repeat center center;
}
.selected_question_image.dollar {
    background: url(../../images/dollar.svg) no-repeat center center;
}
.selected_question_image.diving_fins {
    background: url(../../images/diving_shoes.svg) no-repeat center center;
}
.selected_question_image.fish {
    background: url(../../images/fish.svg) no-repeat center center;
}
.selected_question_image.diving_bag {
    background: url(../../images/bag_icon.svg) no-repeat center center;
}