:root {
    --wheel-font: 'Lato', 'Quicksand', sans-serif;
    --wheel-size: 440px;
    --wheel-slice-spacing: 0px;
    /* --wheel-slice-spacing: 50px; */
    --wheel-border-size: 5px;
    --wheel-color: #002764;
    --neutral-color: white;
    /* --PI: 3.14159265358979; */
    --PI: 2.62;
    --nb-item: 0;
    --item-nb: 0;
    --selected-item: 0;
    --nb-turn: 5;
    --spinning-duration: 4s;
    --reset-duration: 0.25s;
  }
  
  /* Conteneur de la roue = cercle rose extérieur */
  .wheel-container {
    display: block;
    position: relative;
    box-sizing: content-box;
    width: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
    height: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
    padding: 20px;
    /* margin: auto; */
    margin:30px 0px 0px 30px;
    background-color: var(--neutral-color);
    border: solid var(--wheel-color) 4px;
    border-radius: 50%;
    user-select: none;
    box-shadow: 0px 6px 0px 0px #002764;
  -webkit-box-shadow: 0px 6px 0px 0px #002764;
  -moz-box-shadow: 0px 6px 0px 0px #002764;
  }
  
  /* Triangle de sélection = 1 rose +  1 blanc */
  /* .wheel-container::before,
  .wheel-container::after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: solid transparent 20px;
    border-left-width: 0;
  }
  .wheel-container::before {
    right: 0px;
    border-right-color: var(--wheel-color);
  }
  .wheel-container::after {
    right: -5px;
    border-right-color: var(--neutral-color);
  } */

  .wheel-container::before {
    content: '';
    display: block;
    position: absolute;
    height: 70px;
    width: 45px;
    background: url(../../images/location_icon.svg) no-repeat left top;
    top: -20px;
    left: 45.4%;
    z-index: 2;
  }
  .wheel-container::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #002764;
    top: 0px;
    left:0;
    z-index: -1;
  }
  
  /* Roue */
  .wheel {
    display: block;
    position: relative;
    box-sizing: content-box;
    margin: auto;
    width: var(--wheel-size);
    height: var(--wheel-size);
    overflow: hidden;
    border-radius: 50%;
    border: solid var(--wheel-color) var(--wheel-border-size);
    background-color: var(--wheel-color);
    transition: transform var(--reset-duration);
    /* transform: rotate(0deg); */
    transform: rotate(0deg);
    cursor: pointer;
  }
  
  .wheel.spinning {
    transition: transform var(--spinning-duration);
    /* transform: rotate(calc(var(--nb-turn) * 360deg + (-360deg * var(--selected-item) / var(--nb-item, 1)))); */
    transform: rotate(calc(var(--nb-turn) * -90deg + (-360deg * var(--selected-item) / var(--nb-item, 1))));
  }
  
  /* Centre de la roue = rond blanc au centre */
  .wheel::after {
    display: block;
    position: fixed;
    content: '';
    /* background-color: var(--neutral-color); */
    width: 200px;
    height: 200px;
    background: url(../../images/spin_icon.svg) no-repeat;
    background-size:cover;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  /* Element sur la roue */
  .wheel-item {
    display: block;
    position: absolute;
    box-sizing: border-box;
    /* position de l'item */
    top: 50%;
    left: 50%;
    width: 50%;
    transform-origin: center left;
    transform: translateY(-50%) rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
    /* texte */
    /* color: var(--neutral-color); */
    color: transparent;
    text-align: right;
    padding: 0 25px 0 50px;
    font-family: var(--wheel-font);
  }

  
  
  /* Background de l'élément = triangle rose plus clair */
  .wheel-item:before {
    content: ' ';
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0px;
    opacity: 1;
    /* opacity: 0.25; */
    --slice-max-width: calc(var(--PI) * var(--wheel-size) + var(--wheel-size) / 2);
    --slice-width: calc((var(--slice-max-width) / var(--nb-item)) - var(--wheel-slice-spacing));
    border: solid transparent calc(var(--slice-width) / 2);
    border-left: solid transparent 0;
    /* profondeur du triangle = du centre de la roue à la bordure = 300px / 2 */
    border-right: solid var(--neutral-color) calc(var(--wheel-size) / 2);
  }
  .wheel-item:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    width: 0;
    height: 0;
    top: -100%;
    left: 60%;
    width: 50px;
    height: 65px;
    background-size: contain !important;
  }
  .wheel-item:nth-child(1):before {
    border-right: solid #9b32fe calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(2):before {
    border-right: solid #fed420 calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(3):before {
    border-right: solid #2cb8eb calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(4):before {
    border-right: solid #ff57d1 calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(5):before {
    border-right: solid #ff8900 calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(6):before {
    border-right: solid #66edd6 calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(7):before {
    border-right: solid #9b32fe calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(8):before {
    border-right: solid #fed420 calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(9):before {
    border-right: solid #2cb8eb calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(10):before {
    border-right: solid #ff57d1 calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(11):before {
    border-right: solid #ff8900 calc(var(--wheel-size) / 2);
  }
  .wheel-item:nth-child(12):before {
    border-right: solid #66edd6 calc(var(--wheel-size) / 2);
  }
  .wheel-item img {
    width:70px;
    height:auto;
    max-height: 75px;
    transform: rotate(90deg);
    margin-right: -13px;
  }

  /* .wheel-item:nth-child(1):after {
    background: url(../../images/binoculars.svg) no-repeat center center;
    transform: rotate(351deg);
    width: 100px;
    height: 100px;
    top: -206%;
    left: 57%;
  }
  .wheel-item:nth-child(2):after {
    background: url(../../images/jelly_fish.svg) no-repeat center center;
    transform: rotate(90deg);
    width: 50px;
    height: 60px;
    top: -100%;
    left: 66%;
  }
  .wheel-item:nth-child(3):after {
    background: url(../../images/skating_board.svg) no-repeat center center;
    transform: rotate(90deg);
    width: 80px;
    height: 100px;
    top:-208%;
    left: 60%;
  }
  .wheel-item:nth-child(4):after {
    background: url(../../images/bag_icon.svg) no-repeat center center;
    transform: rotate(92deg);
    width: 80px;
    height: 100px;
    top:-208%;
    left: 60%;
  }
  .wheel-item:nth-child(5):after {
    background: url(../../images/umbrella.svg) no-repeat center center;
    transform: rotate(73deg);
    width: 80px;
    height: 100px;
    top:-208%;
    left: 60%;
  }
  .wheel-item:nth-child(6):after {
    background: url(../../images/scorpion.svg) no-repeat center center;
    transform: rotate(73deg);
    width: 100px;
    height: 100px;
    top:-205%;
    left: 60%;
  }
  .wheel-item:nth-child(7):after {
    background: url(../../images/pineapple.svg) no-repeat center center;
    transform: rotate(171deg);
    width: 70px;
    height: 80px;
    top:-180%;
    left: 65%;
  }
  .wheel-item:nth-child(8):after {
    background: url(../../images/fish.svg) no-repeat top center;
    transform: rotate(151deg);
    width: 70px;
    height: 80px;
    top:-160%;
    left: 65%;
  }
  .wheel-item:nth-child(9):after {
    background: url(../../images/dollar.svg) no-repeat top center;
    transform: rotate(0deg);
    width: 80px;
    height: 80px;
    top:-150%;
  }
  .wheel-item:nth-child(10):after {
    background: url(../../images/turtle.svg) no-repeat top center;
    transform: rotate(79deg);
  }
  .wheel-item:nth-child(11):after {
    background: url(../../images/diving_shoes.svg) no-repeat top center;
    transform: rotate(63deg);
    left: 65%;
  }
  .wheel-item:nth-child(12):after {
    background: url(../../images/hat.svg) no-repeat top center;
    transform: rotate(21deg);
    width: 100px;
    height: 80px;
    top: -143%;
    left: 60%;
  } */