.footer {
    display:block;
    position: absolute;
    width:50%;
    bottom:0px;
    right:15px;
}
.footer .label {
    color:#002764;
    font-family: 'Passion One', cursive;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    text-align:left;
    text-transform: uppercase;
    margin-right: 10px;
}
.chances_container {
    display:flex;
    flex-direction:row;
    /* flex-basis: 1; */
    align-items:center;
    justify-content:flex-start;
    margin-bottom: 15px;
}
.timer_container {
    width:200px;
    height:43px;
    position:absolute;
    right:0px;
    bottom:0px;
}
.timer_container .timer {
    width:140px;
    height:140px;
    background:url(../../images/watch.svg) no-repeat center bottom;
    position:absolute;
    right:0px;
    bottom:0px;
    display:inline-block;
    padding-top: 0px;
    color:#002764;
    font-family: 'Passion One', cursive;
    font-size: 4em;
    font-weight: 400;
    line-height: 200px;
    overflow:hidden;
    text-align:center;
}
.footer .chances_container .lifespan {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
}
.footer .lifespan .life_ico {
    width:30px;
    height:30px;
    background:url(../../images/life_blank.svg) no-repeat center center;
    background-size: cover;
    display:block;
    margin:0px 2px;
}
.footer .lifespan .life_ico.left {
    background:url(../../images/life_icon.svg) no-repeat center center;
    display:block;
    background-size: cover;
    margin:0px 2px;
}