@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Titillium+Web:wght@400;700;900&display=swap');
.App {
  text-align: center;
}
body {
  background:#ccc;
  font-family: 'Titillium Web', sans-serif;
}
.game_board {
  width:1000px;
  height:562px;
  background:url(images/gameboard_background.jpg) no-repeat left top #fff;
  background-size:cover;
  position: relative;
  border:solid 4px #002764;
  margin:40px auto;
}
.button {
  background:#66edd6;
  display:inline-block;
  font-size: 2em;
  padding:0.4em 1.2em;
  text-decoration: none;
  border-radius: 1.5em;
  border: solid 4px #002764;
  color:#002764;
  font-weight: 400;
  margin:40px 0px 0px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Passion One', cursive;
  box-shadow: 0px 6px 0px 0px #002764;
  -webkit-box-shadow: 0px 6px 0px 0px #002764;
  -moz-box-shadow: 0px 6px 0px 0px #002764;
  transition-duration: 0.5s;
  cursor: pointer;
}
.button:hover, .button.white:hover {
  background:#002764;
  color:#fff;
  box-shadow: 0px 0px 0px 0px #002764;
  -webkit-box-shadow: 0px 0px 0px 0px #002764;
  -moz-box-shadow: 0px 0px 0px 0px #002764;
}
.button.sm {
  margin:10px 0px 0px;
  border: solid 3px #002764;
  box-shadow: 0px 3px 0px 0px #002764;
  -webkit-box-shadow: 0px 3px 0px 0px #002764;
  -moz-box-shadow: 0px 3px 0px 0px #002764;
  font-size: 1.4em;
  padding:0.35em 1.0em;
}
.button.white {
  background: #fff;
}
.button.back_button {
  position: absolute;
  bottom: 15px;
  left:15px;
}
.puzzle_image {
  width: 300px;
  height: 300px;
  background: url(images/puzzle.svg) no-repeat center center;
  background-size: contain;
  position: absolute;
  left: 60%;
  top: 20%;
}
.game_progress_container {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 60%;
  top: 10%;
}
.game_progress {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}
.game_progress .label {
  color:#002764;
  font-family: 'Passion One', cursive;
  font-size: 1.8em;
  font-weight: 400;
  text-align:left;
  text-transform: uppercase;
  margin-right: 10px;
}
.game_progress .progress_box {
  color:#ed1b2d;
  font-family: 'Passion One', cursive;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1em;
  text-align:left;
  text-transform: uppercase;
  border-radius:10px;
  padding:6px 10px;
  background:#fff;
  border:solid 3px #002764;
  -webkit-box-shadow: 0px 3px 0px 0px #002764;
  -moz-box-shadow: 0px 3px 0px 0px #002764;
}